.main{
  background-color:rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.homediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 50%;
  width: 50%;
}

.hello {
  text-align: left;
  color: rgb(241,190,176,1);
}

.name {
  color: rgb(225,219,209, 1);
  font-size: 75px;
  margin: 25px auto;
}
.nav {
  background-color:rgb(29, 29, 29) !important;
  display: flex;
  flex-direction: row;
  position:absolute;
  justify-content: space-between;
  width: 100vw;
  z-index: 2;
}


.vertnav {
  display: flex;
  flex-direction: column-reverse;
  position:absolute;
  background-color:rgb(29, 29, 29);
  height: 100vh;
  width: 80px;
  margin: 0;
  z-index: 1;
}


